@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,900;1,200;1,600;1,900&display=swap');

body {
  margin: 0px;
  background-color: var(--black);
}
*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
button, input {
	background: none;
	color: white;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
:root {

}


.white {
  color: white;
}
.text {
  font-size: 1.5rem;
  font-weight: 600;
}
.inline-margin {
  margin-right: 1rem;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .text {
     font-size: 1.2rem;
   }
}